数据预处理

创建一个人工数据集，并存储在csv文件中

In [1]:
import os
os.makedirs(os.path.join('..','data'),exist_ok=True)
data_file=os.path.join('..','data','house_tiny.csv')
with open(data_file,'w') as f:
    f.write('NumRooms,Alley,Prices\n')
    f.write('NA,Pave,127500\n')
    f.write('2,NA,106000\n')
    f.write('4,NA,178100\n')
    f.write('NA,NA,140000\n')

从创建的csv文件中加载原始数据集

In [5]:
import pandas as pd
data=pd.read_csv(data_file)
data #也可以写成print（data）

   NumRooms Alley  Prices
0       NaN  Pave  127500
1       2.0   NaN  106000
2       4.0   NaN  178100
3       NaN   NaN  140000

为了处理缺失的数据，最典型的方法包括插值和删除，这里，我们将考虑插值

In [ ]:
in